<ion-header>
  <ion-toolbar>
    <ion-title>listaPokemn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title> Items </ion-title>


  <ul class="list">
    <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="5" >
      <ion-list *cdkVirtualFor="let item of items">
        <ion-avatar slot="start">
          <img *ngIf="item.id <10" src="https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/00{{item.id}}.png"/>
          <img *ngIf="item.id >=10" src="https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/images/0{{item.id}}.png"/>
        </ion-avatar>
        <ion-label>{{item.name.english}}</ion-label>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ul>


</ion-content>
